[Unit]
Description=HTTPD Container
After=network-online.target
Wants=network-online.target

[Service]
ExecStop=/opt/httpdctl.sh stop
ExecStartPre=/usr/bin/podman pull {{ container_image }}
ExecStart=/opt/httpdctl.sh start
ExecReload=/opt/httpdctl.sh restart

TimeoutStartSec=60
Type=forking
Restart=on-failure
KillMode=none

[Install]
WantedBy=multi-user.target